In [33]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl

In [38]:
# import the CSV data file into a dataframe
dfX = pd.read_csv("bostonWeights.csv")
dfY = pd.read_csv("bostonTarget.csv")

# print new dataframe
print(dfX, dfY)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]         0
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [37]:
# gather stats about about final prices
# MEDV is all times 1000 for actual price
dfY.describe()

                0
count  506.000000
mean    22.532806
std      9.197104
min      5.000000
25%     17.025000
50%     21.200000
75%     25.000000
max     50.000000

In [ ]:
# gather stats about about the weights/features
dfX.describe()

In [43]:
# split the data frames into two sub frames
# these are the  train and test sets
# it returns a tuple of 4 sets
xTrain, xTest, yTrain, yTest = skl.model_selection.train_test_split(
    dfX, dfY, test_size=0.20, random_state=42 )

In [44]:
# print out each to check that it worked
print(xTrain, xTest, yTrain, yTest)

         CRIM    ZN  INDUS  CHAS     NOX     RM   AGE     DIS   RAD    TAX  \
477  15.02340   0.0  18.10   0.0  0.6140  5.304  97.3  2.1007  24.0  666.0
15    0.62739   0.0   8.14   0.0  0.5380  5.834  56.5  4.4986   4.0  307.0
332   0.03466  35.0   6.06   0.0  0.4379  6.031  23.3  6.6407   1.0  304.0
423   7.05042   0.0  18.10   0.0  0.6140  6.103  85.1  2.0218  24.0  666.0
19    0.72580   0.0   8.14   0.0  0.5380  5.727  69.5  3.7965   4.0  307.0
..        ...   ...    ...   ...     ...    ...   ...     ...   ...    ...
106   0.17120   0.0   8.56   0.0  0.5200  5.836  91.9  2.2110   5.0  384.0
270   0.29916  20.0   6.96   0.0  0.4640  5.856  42.1  4.4290   3.0  223.0
348   0.01501  80.0   2.01   0.0  0.4350  6.635  29.7  8.3440   4.0  280.0
435  11.16040   0.0  18.10   0.0  0.7400  6.629  94.6  2.1247  24.0  666.0
102   0.22876   0.0   8.56   0.0  0.5200  6.405  85.4  2.7147   5.0  384.0

     PTRATIO       B  LSTAT
477     20.2  349.48  24.91
15      21.0  395.62   8.47
332     16.9  362.25   7.83
423     20.2    2.52  23.29
19      21.0  390.95  11.28
..       ...     ...    ...
106     20.9  395.67  18.66
270     18.6  388.65  13.00
348     17.0  390.94   5.99
435     20.2  109.85  23.27
102     20.9   70.80  10.63

[404 rows x 13 columns]          CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
173   0.09178   0.0   4.05   0.0  0.510  6.416   84.1  2.6463   5.0  296.0
274   0.05644  40.0   6.41   1.0  0.447  6.758   32.9  4.0776   4.0  254.0
491   0.10574   0.0  27.74   0.0  0.609  5.983   98.8  1.8681   4.0  711.0
72    0.09164   0.0  10.81   0.0  0.413  6.065    7.8  5.2873   4.0  305.0
452   5.09017   0.0  18.10   0.0  0.713  6.297   91.8  2.3682  24.0  666.0
..        ...   ...    ...   ...    ...    ...    ...     ...   ...    ...
412  18.81100   0.0  18.10   0.0  0.597  4.628  100.0  1.5539  24.0  666.0
436  14.42080   0.0  18.10   0.0  0.740  6.461   93.3  2.0026  24.0  666.0
411  14.05070   0.0  18.10   0.0  0.597  6.657  100.0  1.5275  24.0  666.0
86    0.05188   0.0   4.49   0.0  0.449  6.015   45.1  4.4272   3.0  247.0
75    0.09512   0.0  12.83   0.0  0.437  6.286   45.0  4.5026   5.0  398.0

     PTRATIO       B  LSTAT
173     16.6  395.50   9.04
274     17.6  396.90   3.53
491     20.1  390.11  18.07
72      19.2  390.91   5.52
452     20.2  385.09  17.27
..       ...     ...    ...
412     20.2   28.79  34.37
436     20.2   27.49  18.05
411     20.2   35.05  21.22
86      18.5  395.99  12.86
75      18.7  383.23   8.94

[102 rows x 13 columns]         0
477  12.0
15   19.9
332  19.4
423  13.4
19   18.2
..    ...
106  19.5
270  21.1
348  24.5
435  13.4
102  18.6

[404 rows x 1 columns]         0
173  23.6
274  32.4
491  13.6
72   22.8
452  16.1
..    ...
412  17.9
436   9.6
411  17.2
86   22.5
75   21.4

[102 rows x 1 columns]

In [45]:
# assign and train linear regression model
lin = skl.linear_model.LinearRegression().fit(xTrain, yTrain)

In [46]:
# get score
lin.score(xTrain, yTrain)

0.7508856358979672

In [49]:
# predict y values for test set
lin.predict(xTest)

array([[28.99672362],
       [36.02556534],
       [14.81694405],
       [25.03197915],
       [18.76987992],
       [23.25442929],
       [17.66253818],
       [14.34119   ],
       [23.01320703],
       [20.63245597],
       [24.90850512],
       [18.63883645],
       [-6.08842184],
       [21.75834668],
       [19.23922576],
       [26.19319733],
       [20.64773313],
       [ 5.79472718],
       [40.50033966],
       [17.61289074],
       [27.24909479],
       [30.06625441],
       [11.34179277],
       [24.16077616],
       [17.86058499],
       [15.83609765],
       [22.78148106],
       [14.57704449],
       [22.43626052],
       [19.19631835],
       [22.43383455],
       [25.21979081],
       [25.93909562],
       [17.70162434],
       [16.76911711],
       [16.95125411],
       [31.23340153],
       [20.13246729],
       [23.76579011],
       [24.6322925 ],
       [13.94204955],
       [32.25576301],
       [42.67251161],
       [17.32745046],
       [27.27618614],
       [16.99310991],
       [14.07009109],
       [25.90341861],
       [20.29485982],
       [29.95339638],
       [21.28860173],
       [34.34451856],
       [16.04739105],
       [26.22562412],
       [39.53939798],
       [22.57950697],
       [18.84531367],
       [32.72531661],
       [25.0673037 ],
       [12.88628956],
       [22.68221908],
       [30.48287757],
       [31.52626806],
       [15.90148607],
       [20.22094826],
       [16.71089812],
       [20.52384893],
       [25.96356264],
       [30.61607978],
       [11.59783023],
       [20.51232627],
       [27.48111878],
       [11.01962332],
       [15.68096344],
       [23.79316251],
       [ 6.19929359],
       [21.6039073 ],
       [41.41377225],
       [18.76548695],
       [ 8.87931901],
       [20.83076916],
       [13.25620627],
       [20.73963699],
       [ 9.36482222],
       [23.22444271],
       [31.9155003 ],
       [19.10228271],
       [25.51579303],
       [29.04256769],
       [20.14358566],
       [25.5859787 ],
       [ 5.70159447],
       [20.09474756],
       [14.95069156],
       [12.50395648],
       [20.72635294],
       [24.73957161],
       [-0.164237  ],
       [13.68486682],
       [16.18359697],
       [22.27621999],
       [24.47902364]])

In [50]:
print(yTest)

        0
173  23.6
274  32.4
491  13.6
72   22.8
452  16.1
..    ...
412  17.9
436   9.6
411  17.2
86   22.5
75   21.4

[102 rows x 1 columns]