In [76]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [77]:
# import the CSV data file into a dataframe
dfX = pd.read_csv("bostonWeights.csv")
dfY = pd.read_csv("bostonTarget.csv")

# print new dataframe
print(dfX, dfY)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]         0
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [78]:
# gather stats about about final prices
# MEDV is all times 1000 for actual price
dfY.describe()

                0
count  506.000000
mean    22.532806
std      9.197104
min      5.000000
25%     17.025000
50%     21.200000
75%     25.000000
max     50.000000

In [79]:
# gather stats about about the weights/features
dfX.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [80]:
# split the data frames into two sub frames
# these are the  train and test sets
# it returns a tuple of 4 sets (xTrain, xTest, yTrain, yTest)
xTrain, xTest, yTrain, yTest = train_test_split(
    dfX, dfY, test_size=0.30, random_state=42 )

In [81]:
# print out each to check that it worked
print(xTrain, xTest, yTrain, yTest)

         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS   RAD    TAX  \
5     0.02985   0.0   2.18   0.0  0.458  6.430  58.7  6.0622   3.0  222.0
116   0.13158   0.0  10.01   0.0  0.547  6.176  72.5  2.7301   6.0  432.0
45    0.17142   0.0   6.91   0.0  0.448  5.682  33.8  5.1004   3.0  233.0
16    1.05393   0.0   8.14   0.0  0.538  5.935  29.3  4.4986   4.0  307.0
468  15.57570   0.0  18.10   0.0  0.580  5.926  71.0  2.9084  24.0  666.0
..        ...   ...    ...   ...    ...    ...   ...     ...   ...    ...
106   0.17120   0.0   8.56   0.0  0.520  5.836  91.9  2.2110   5.0  384.0
270   0.29916  20.0   6.96   0.0  0.464  5.856  42.1  4.4290   3.0  223.0
348   0.01501  80.0   2.01   0.0  0.435  6.635  29.7  8.3440   4.0  280.0
435  11.16040   0.0  18.10   0.0  0.740  6.629  94.6  2.1247  24.0  666.0
102   0.22876   0.0   8.56   0.0  0.520  6.405  85.4  2.7147   5.0  384.0

     PTRATIO       B  LSTAT
5       18.7  394.12   5.21
116     17.8  393.30  12.04
45      17.9  396.90  10.21
16      21.0  386.85   6.58
468     20.2  368.74  18.13
..       ...     ...    ...
106     20.9  395.67  18.66
270     18.6  388.65  13.00
348     17.0  390.94   5.99
435     20.2  109.85  23.27
102     20.9   70.80  10.63

[354 rows x 13 columns]         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
173  0.09178   0.0   4.05   0.0  0.510  6.416   84.1  2.6463   5.0  296.0
274  0.05644  40.0   6.41   1.0  0.447  6.758   32.9  4.0776   4.0  254.0
491  0.10574   0.0  27.74   0.0  0.609  5.983   98.8  1.8681   4.0  711.0
72   0.09164   0.0  10.81   0.0  0.413  6.065    7.8  5.2873   4.0  305.0
452  5.09017   0.0  18.10   0.0  0.713  6.297   91.8  2.3682  24.0  666.0
..       ...   ...    ...   ...    ...    ...    ...     ...   ...    ...
441  9.72418   0.0  18.10   0.0  0.740  6.406   97.2  2.0651  24.0  666.0
23   0.98843   0.0   8.14   0.0  0.538  5.813  100.0  4.0952   4.0  307.0
225  0.52693   0.0   6.20   0.0  0.504  8.725   83.0  2.8944   8.0  307.0
433  5.58107   0.0  18.10   0.0  0.713  6.436   87.9  2.3158  24.0  666.0
447  9.92485   0.0  18.10   0.0  0.740  6.251   96.6  2.1980  24.0  666.0

     PTRATIO       B  LSTAT
173     16.6  395.50   9.04
274     17.6  396.90   3.53
491     20.1  390.11  18.07
72      19.2  390.91   5.52
452     20.2  385.09  17.27
..       ...     ...    ...
441     20.2  385.96  19.52
23      21.0  394.54  19.88
225     17.4  382.00   4.63
433     20.2  100.19  16.22
447     20.2  388.52  16.44

[152 rows x 13 columns]         0
5    28.7
116  21.2
45   19.3
16   23.1
468  19.1
..    ...
106  19.5
270  21.1
348  24.5
435  13.4
102  18.6

[354 rows x 1 columns]         0
173  23.6
274  32.4
491  13.6
72   22.8
452  16.1
..    ...
441  17.1
23   14.5
225  50.0
433  14.3
447  12.6

[152 rows x 1 columns]

In [82]:
# assign and train linear regression model
lin = skl.linear_model.LinearRegression().fit(xTrain, yTrain)

In [83]:
# predict y values for test set
yTestPredictions = lin.predict(xTest)

In [84]:
# compare predictions with actual yTest set
print(skl.metrics.mean_squared_error(yTest, yTestPredictions))

21.51744423117743